@model List<WebApplication3.Data.Models.Category>
<link rel="stylesheet" href="~/css/border.css" />
<link rel="stylesheet" href="~/css/Card.css" />


<div class="buttons-container">
    @foreach (var category in Model)
    {
        string Class = (@category.CategoryId == ViewBag.SelectedCategory)
        ? "btn btn-primary"
        : "btn btn-default";

        <a class="@Class"
           asp-action="Index"
           asp-controller="Home"
           asp-route-catId="@category.CategoryId"
           asp-route-page="1">
            @category.Name
        </a>
    }
</div>