/* Контейнер для всех кнопок, который имеет общий бордер */
.buttons-container {
    border: 1px solid #007bff; /* Синий бордер вокруг всех кнопок */
    border-radius: 10px; /* Скругленные углы */
    padding: 20px; /* Отступы внутри контейнера */
   
    background-color: #f8f9fa; /* Цвет фона контейнера */
    display: flex;
    flex-direction: column; /* Размещение кнопок по вертикали */
    gap: 10px; /* Отступы между кнопками */
    width: 100%; /* Ширина контейнера на весь экран */
}


/* Стили для активной кнопки */
.btn-primary {
    background-color: #007bff; /* Синий фон для активной кнопки */
    color: #fff; /* Белый текст */
    border: 1px solid #007bff; /* Синий бордер */
}

/* Стили для кнопки по умолчанию */
.btn-default {
    background-color: #f8f9fa; /* Легкий серый фон */
    color: #000; /* Черный текст */
    border: 1px solid #ddd; /* Легкий серый бордер */
}

/* При наведении на кнопку */
.btn:hover {
    background-color: #0056b3; /* Темно-синий фон */
    color: #fff; /* Белый текст */
    border-color: #0056b3; /* Темно-синий бордер */
}
